/* Style du display de Yawpp */

.field_yawpp {
	margin-bottom: 30px;
}

.field_yawpp label {

	display:block;
	float:left;
	width:150px;
}

.field_yawpp input {
	float: left;
	margin-left: 10px;
}

.form_yawpp fieldset {
	padding: 10px;
	padding-left: 30px;
}

.okmessage_yawpp {
	padding: 10px;
	background-color: #8DBF81;
	border: 1px solid #3A6F2D;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 30px;
}

.errormessage_yawpp {
	padding: 10px;
	background-color: #BF6565;
	border: 1px solid #A40909;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 30px;
}
